*{
    overflow-x: hidden;
    font-family:monospace;
}
#menu_principal{
    background-color: #545454;
    color: #e2e2e2 ;
    height: 7vh;
    margin-top: -1vh;
    margin-left: -2vh;
    width: 110%;
    position: fixed;
}

#menu_principal ul li{
    float: left;
    margin-top: 1vh;
    margin-left: 4vh;
    font-size: 2vh;
}
.banner-xl{
    background-color: #343434;
    color: white;
    height: 60vh;
    width: 100%;
}
.banner-xl h1{
    margin-top: 10vh;
    margin-left: 5vh;
    font-size: 5vh;
}
.banner-xl button{
    margin-left: 5vh;
}

.banner-xl h3{  
    margin-left: 5vh;
    width: 60vh;
}

.articles_{
    margin-top:5vh;
    height: 40vh;
    display: flex;
    flex-direction: row;
}
.Artigo_sq{
    background-color: #545454;
    color: white;
    height: 40vh;
    width: 30vh;
    margin-left: 4vh;
    border-radius: 2vh;
}
.imgplace-xl{
    background-color: white;
    height: 50vh;
    width:90vh;
    position: absolute;
    margin-left: 80vh;
    margin-top: 8vh;
}